In [1]:
import pandas as pd, numpy as np

In [3]:
df = pd.read_csv("LoanPrediction.csv")

In [29]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [5]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [13]:
df.dropna(inplace=True)

In [19]:
df['Dependents'] = df['Dependents'].replace('3+',3)

In [23]:
df['Dependents'] = df['Dependents'].replace('0',0)
df['Dependents'] = df['Dependents'].replace('1',1)
df['Dependents'] = df['Dependents'].replace('2',2)

In [24]:
df['Dependents'].unique()

array([1, 0, 2, 3])

In [25]:
df.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [12]:
from sklearn.preprocessing import LabelEncoder

In [14]:
encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])
df['Married'] = encoder.fit_transform(df['Married'])
df['Education'] = encoder.fit_transform(df['Education'])
df['Self_Employed'] = encoder.fit_transform(df['Self_Employed'])
df['Property_Area'] = encoder.fit_transform(df['Property_Area'])
df['Loan_Status'] = encoder.fit_transform(df['Loan_Status'])

In [26]:
x = df.drop(columns=['Loan_Status','Loan_ID'], axis=1)
y = df['Loan_Status']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Pre-Pruning

In [36]:
dtree = DecisionTreeClassifier()
dtree.fit(x_train, y_train)

DecisionTreeClassifier()

In [37]:
y_pred_train = dtree.predict(x_train)
print("Accuracy Score :", round(accuracy_score(y_train, y_pred_train)*100 ,2), "%")

Accuracy Score : 100.0 %

In [38]:
y_pred = dtree.predict(x_test)
print("Accuracy Score :", round(accuracy_score(y_test, y_pred)*100 ,2), "%")

Accuracy Score : 77.08 %

In [39]:
dtree = DecisionTreeClassifier(class_weight='balanced')
param_grid = {
    'max_depth': [3, 4, 5, 6, 7, 8],
    'min_samples_split': [2, 3, 4],
    'min_samples_leaf': [1, 2, 3, 4],
    'random_state': [0, 42]
}


grid_search = GridSearchCV(dtree, param_grid, cv=5)
grid_search.fit(x_train, y_train)


print(grid_search.best_params_)

{'max_depth': 3, 'min_samples_leaf': 3, 'min_samples_split': 2, 'random_state': 0}

In [40]:
dtree = DecisionTreeClassifier(random_state=0, max_depth=3, min_samples_leaf=3, min_samples_split=2, class_weight='balanced')
dtree.fit(x_train, y_train)

DecisionTreeClassifier(class_weight='balanced', max_depth=3, min_samples_leaf=3,
                       random_state=0)

In [41]:
y_pred_train = dtree.predict(x_train)
print("Accuracy Score :", round(accuracy_score(y_train, y_pred_train)*100 ,2), "%")

Accuracy Score : 81.25 %

In [42]:
y_pred = dtree.predict(x_test)
print("Accuracy Score :", round(accuracy_score(y_test, y_pred)*100 ,2), "%")

Accuracy Score : 82.29 %

# Post-Pruning

In [45]:
sklearn.__version__

'1.0.2'

In [44]:
import sklearn